build
**.o
src/apple.c
src/active.c
src/arrow_down_active.c
src/arrow_down_inactive.c
src/arrow_left_active.c
src/arrow_left_inactive.c
src/arrow_right_active.c
src/arrow_right_inactive.c
src/arrow_up_active.c
src/arrow_up_inactive.c
src/go_away.c
src/grow.c
src/parse.c
src/ractive.c
src/rawpatstubs.c
src/rawsrcstubs.c
src/seedtables.c
src/sspairtable.c
src/thumb_horiz.c
src/thumb_vert.c
src/ultable.c
src/zoom.c
src/config.status
src/config.log
src/config.h
src/.deps/
**/.DS_Store
.DS_Store
